<!-- Footer -->
<footer class="bg-color" style="background-color: #828f71;">
    <div class="container py-5">
      <div class="row py-4">
        
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0"><img src="img/logo.png" alt="" width="180" class="mb-3">
          
          <img src="./assets/logo (8).jpeg" height="60" alt="Image" >

          <p style="color: white;" class="font-italic">Encouraging everyone to live a sustainable and eco-friendly lifestyle
            Want to leave feedback or ask  questions? Feel free to leave us an email at
            </p>
            <a style="color: white;" href="econative@gmail.com"></a>
        
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Shop</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="https://sec.org.sg/donate/" style="color: white;" >Donate</a></li>
            <li class="mb-2"><a href="https://oecd-environment-focus.blog/2022/03/08/the-road-to-a-sustainable-tomorrow-tracking-a-covid-19-gender-sensitive-and-green-recovery/" style="color: white;">Good Reads</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Quick Links</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a routerLink="/home" style="color: white;">Home</a></li>
            <li class="mb-2"><a routerLink="/about" style="color: white;">About</a></li>
            <!-- <li class="mb-2"><a routerLink="/cart"style="color: white;">Cart</a></li>
            <li class="mb-2"><a routerLink="/favorites" style="color: white;">Favorites</a></li> -->
           
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-lg-0">
          <h6 class="text-uppercase font-weight-bold mb-4">Social Media</h6>
          <ul class="list-unstyled mb-0">
            <li class="mb-2"><a href="https://www.instagram.com/?hl=en" style="color: white;">Instagram</a></li>
            <li class="mb-2"><a href="https://www.facebook.com/"style="color: white;">Facebook</a></li>
            <li class="mb-2"><a href="#https://www.tumblr.com/explore/trending?source=homepage_explore" style="color: white;">Tumblr</a></li>
            <li class="mb-2"><a href="https://www.pinterest.com/" style="color: white;">Pinterest</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <p class="text-muted mb-0 py-2">© 2022 Eco-native All rights reserved.</p> -->
    