<div class="container" style="margin-left:10rem">
<div class="about-section">
  <h1>Our Store Location</h1>
</div>
<div>
  <app-map></app-map>
</div>
<div class="container" style="margin-top:500px ;">
<div class="row">
  <!-- <video poster="./assets/image (22).png"width="650" height="400" controls>
    <source src="./assets/How to Save Our Planet.mp4" type="video/mp4">
  </video> -->
  <!-- <div class="column1-text">
    Eco-native is a Singapore-based online store created to make a wide range of
    curated, stylish and affordable sustainable products easily available. We are
    constantly on the look out for more amazing products to bring to you. We hope
    that by offering practical yet stylish alternatives, we can inspire more to
    lead an environmentally aware lifestyle.
    Making small changes in our life can make a huge difference to our environment.
  
  </div> -->
</div>
<h1 style="text-align:center" class="subtitle">What we do</h1>
<div class="row">
  <div class="column">
    <h2 style="color: #4E6151;" class="educate">Educate</h2>
    <div class="card">
      <img src="/assets/about2.jpg" alt="About" style="width:100%">
      <div class="container">
        <br>
        <p>We want to educate users through our website on ways they can lead a sustainable lifestyle and play their
          part in saving mother earth.</p>
      </div>
    </div>
  </div>
  <div class="column">
    <h2 style="color: #4E6151;">Transform</h2>
    <div class="card">
      <img src="./assets/about.jpg" alt="About" style="width:100%">
      <br>
      <div class="container">
        <p>Our shop was founded in 2022, to inspire the adoption of a sustainable lifestyle.

          It is a platform for enabling a low or zero waste lifestyle with a range of sustainable products at high
          quality and affordable prices.

          We want you to transform your knowledge into action!

        </p>

      </div>
    </div>
  </div>

  <div class="column">
    <h2 style="color: #4E6151;">Inspire</h2>
    <div class="card">
      <img src="./assets/about1.jpg" alt="About" style="width:100%">
      <div class="container">
        <br>
        <p>We want to continue inspiring the next generation to be change-makers and drive change for Mother Earth.
          We conduct talks, organise sustainability events, hold workshops, educational trips, provide consultancy
          services, enable small sustainability related businesses to grow and many more!
        </p>
      </div>
    </div>
  </div>
  <div style="margin-left: 1rem;">
    <h4>
      Who are we?
    </h4>
    <p> Eco-native is a Singapore-based online store created to make a wide range of
      curated, stylish and affordable sustainable products easily available. We are
      constantly on the look out for more amazing products to bring to you. We hope
      that by offering practical yet stylish alternatives, we can inspire more to
      lead an environmentally aware lifestyle.
      Making small changes in our life can make a huge difference to our environment.</p>
    <h4>
      What is carbon footprint?
    </h4>
    <p>
      The carbon footprint is the total greenhouse gas emissions resulting from the manufacture, use, and end of life of
      a product or service. These include carbon dioxide (the most commonly emitted gas by humans) and other gases such
      as methane, nitrous oxide, and fluorinated gases that trap heat in the atmosphere and cause global warming. Most
      of a person's carbon dioxide emissions usually come from transportation, housing, and food.
    </p>
    <h4>
      3 simple ways to reduce our carbon footprint
    </h4>

    <h6><strong> Eliminate single-use plastic </strong></h6>
    <p>Single-use plastics may be convenient, yet they’re fairly dreadful for the environment. Not only do they pollute
      our waterways and oceans, but they also require energy to produce and recycle. You can stop using things like
      disposable coffee cups and cutlery to reduce your company’s carbon footprint.
    </p>
    <h6><strong>Use Less Water</strong></h6>
    <p>It takes energy and resources to process water and deliver it to our homes. In addition, heating it when it is
      there is also quite energy intensive. Therefore, reducing consumption can improve the environment and reduce
      carbon dioxide emissions. Instead of taking a bath, taking a short shower, or boiling as much water as you need,
      try turning off the faucet when brushing your teeth.</p>
    <h6><strong>Reduce, reuse, recycle</strong></h6>
    <p>Whether it’s things like paper, electronic devices, packaging, or water, it all has a carbon footprint. By
      reducing the amount of waste you generate, reusing IT equipment, and recycling waste, you can make a real
      difference. </p>
    <br>
    
    
  </div>
</div>
</div>
</div>